/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

body{
		margin:0;
		background-color: #f0f5f9;
		text-decoration: none;
		font-family: Courier, Courier New, sans-serif;
	}

a {
    color: #929aab;
		text-decoration: none;
}


.main-name {
	font-family: Courier, sans-serif;
  position: relative;
  margin-left: 125px;
	letter-spacing: 20px;
	overflow: hidden;
  margin-top: 10px;
  font-size: 36pt;
  text-transform: uppercase;
	text-align: justify;

}

.title {
	font-family: Courier, sans-serif;
  position: abosolute;
  margin-left: 250px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  font-size: 16pt;

}


/* index.html */

.paragraph {
  position: absolute;
	font-family: Courier New, sans-serif;
  margin-left: 250px;
  margin-top: 20px;
  width: 55%;
  text-align: justify;
  font-size: 14pt;

}


/* blog posts  */

.newsletter-link {
	font-family: Courier, sans-serif;
	font-weight: bolder;
  margin-left: 250px;
	color: #f5c16c;
  margin-top: 20px;
  text-align: justify;
  font-size: 12pt;
	letter-spacing: 5px;

}

.blog-div {
	font-family: Courier New, sans-serif;
  position: absolute;
	height: 93%;
	overflow:scroll;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	height: 100%;
  width: 100%;
	margin-left: 250px;
	text-align: justify;

}


/* When adding an nth blog post, copy the contents from the latest blog-title, blog-date, blog-body together in a block, then use the equations for margin-top */

.blog-title2 {
  position: absolute;
	font-family: Courier, sans-serif;
  margin-top: 20px;
	/* first  margin-top is 20px */
  text-align: left;
  font-size: 20pt;
	letter-spacing: 2px;

}

.blog-date2 {
  position: absolute;
  margin-top: 50px;
	/* first margin-top is 20px + 30px */
  text-align: left;
	letter-spacing: 2px;
  font-size: 14pt;
	text-decoration: underline;

}

.blog-body2 {
  position: absolute;
  margin-top: 75px;
	/* first margin-top is 50px + 25px */
	height: 500px;
	width: 1000px;
	overflow:scroll;
	width: 55%;
	overflow: auto;
	overflow-y: hidden; /* Hide horizontal scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
  text-align: justify;
  font-size: 14pt;
	text-overflow: ellipsis;
}

.blog-title {
  position: absolute;
	font-family: Courier, sans-serif;
  margin-top: 600px;
	/* all previous blog-title, date, and body's margin-top added up + 30px */
  text-align: left;
  font-size: 20pt;
	letter-spacing: 2px;

}

.blog-date {
  position: absolute;
  margin-top: 630px;
	/* blog-title margin-top + 30px */
  text-align: left;
	letter-spacing: 2px;
  font-size: 14pt;
	text-decoration: underline;

}

.blog-body {
  position: absolute;
  margin-top: 655px;
	/* blog-date margin-top + 25px */
	height: 500px;
	overflow:scroll;
	height: 80%;
	width: 56%;
	overflow-x: hidden; /* Hide horizontal scrollbar */
  text-align: left;
  font-size: 14pt;
	text-overflow: ellipsis;
}

/* audio  */

.music-div {
  position: absolute;
	overflow:scroll;
	height: 100%;
  width: 100%;
  text-align: left;
	margin-left: 250px;
	font-family: Courier New, sans-serif;
	text-align: justify;


}

.music-title {
  position: absolute;
	font-family: Courier, sans-serif;
  margin-top: 20px;
  text-align: left;
	font-size: 20pt;

}

.music-description {
  position: absolute;
  margin-top: 65px;
	font-size: 16pt;
	letter-spacing: -0.75px;
  width: 60%;

}

.frame {
  margin-top: 150px;
	text-align: left;

}

.spotify-link {
  position: absolute;
	margin-top: 50px;
  text-align: left;
	font-size: 16pt;

}

/* photo.html */

.photo-div {
  position: fixed;
	overflow:scroll;
	overflow-x: hidden;
	margin-left: 250px;
	font-size: 20pt;
	height: 93%;
  width: 100%;

}


.photo-title3 {
  position: absolute;
	font-family: Courier New, sans-serif;
	text-align: justify;
	letter-spacing: 3px;
  margin-top: 20px;
	/* 1 row of photos */

}

.photo-title2 {
  position: absolute;
	font-family: Courier New, sans-serif;
	text-align: justify;
	letter-spacing: 5px;
/* new margin-top = row of photos * photo height (285) + old .photo-title margin-top + 60px for padding */
  margin-top: 365px;
	/* 1 row of photos */

}

.photo-title {
  position: absolute;
	font-family: Courier New, sans-serif;
	text-align: justify;
	letter-spacing: 2px;
/* new margin-top = row of photos * photo height (285) + old .photo-title margin-top + 60px for padding */
  margin-top: 710px;

}

.photo3 {
  position: absolute;
  margin-top: 40px;
	/* 1 row of photos */

}

.photo2 {
  position: absolute;
/* new margin-top = row of photos * photo height (285) + margin-top of previous .photo + 60px for padding */
  margin-top: 385px;
	/* 1 row of photos */

}

.photo {
  position: absolute;
/* new margin-top = row of photos * photo height (285) + margin-top of previous .photo + 60px for padding */
  margin-top: 730px;

}


/* art.html */

.art-div {
  position: fixed;
	font-family: Courier New, sans-serif;
	text-align: justify;
	overflow:scroll;
	color: #52616b;
	height: 93%;
  width: 99%;
	margin-bottom: 50px;
	margin-left: 250px;
	letter-spacing: 7px;
  font-size: 12pt;

}

/* to make an art-title(n), copy art-title(n-1) up here, change the name, copy art-title(n-2)'s margin-top into art-title(n-1), and continue until you reach the last art-title, then do the calculation in comments for the last margin-top */
/* The raft has art height of 430 */

.art-title6 {
  position: absolute;
  margin-top: 20px;
	/* if first, margin-top = 20px  */
	/* new margin-top = old art margin-top (50) art height (500) + 80px*/

}

.art-title5 {
  position: absolute;
  margin-top: 475px;
	/* new margin-top = old art margin-top art height (375) + 80px*/

}

.art-title4 {
  position: absolute;
  margin-top: 1055px;
	/* new margin-top = old art margin-top art height (500) + 80px*/

}

.art-title3 {
  position: absolute;
  margin-top: 1635px;
	/* new margin-top = old art margin-top (50) art height (500) + 80px*/

}

.art-title2 {
  position: absolute;
  margin-top: 2215px;
	/* new margin-top = old art-title margin-top + art height (500) + 80px*/

}

.art-title {
  position: absolute;
  margin-top: 2795px;
	/* new margin-top = old art-title margin-top + art height (500) + 80px*/

}

/* to make an art(n), copy art(n-1) up here, change the name, copy art(n-2)'s margin-top into art(n-1), and continue until you reach the last art, then do the calculation in comments for the last margin-top */

.art6 {
  position: absolute;
  margin-top: 45px;
	/* if first, margin-top = art-title margin-top (20) + 25px */
/* new margin-top =  old art margin-top + art height (500) + 80px */
  width: 50%;

}

.art5 {
  position: absolute;
  margin-top: 500px;
/* new margin-top =  old art margin-top + art height (375) + 80px */
  width: 50%;

}

.art4 {
  position: absolute;
  margin-top: 1080px;
/* new margin-top =  old art margin-top + art height (500) + 80px */
  width: 50%;

}


.art3 {
  position: absolute;
  margin-top: 1660px;
/* new margin-top =  old art margin-top + art height (500) + 80px */
	width: 50%;

}

.art2 {
  position: absolute;
  margin-top: 2240px;
	/* new margin-top =  old art margin-top + art height (500) + 80px */
  width: 50%;

}

.art {
  position: absolute;
  margin-top: 2820px;
	/* new margin-top =  old art margin-top + art height (500) + 80px */


}


/* social and nav */

.social {
  position: fixed;
  margin-top: 60px;
  /* padding: 0px; */
  width: 120px;
  display: block;
	background-color: #ffd6a4;

}

.nav {
  position: fixed;
	float: right;
  font-size: 18pt;
  width: 120px;
  margin-left: 115px;
  margin-top: 10px;
	text-decoration: none;

}

ul {
    list-style-type: none;
		text-decoration: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 8px 10px;
		text-decoration: none;
		font-family: Courier New, sans-serif;

}


li a:hover:not(.active) {
    color: #393e46;
		background-color: #f7f7f7;
		font-family: Courier, sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;

}
